body {
    background-color: #242424 !important;
    color: #c5c5c5 !important;
}

.card {
    background-color: #2d2d2d !important;
    color: #c5c5c5 !important;
    border-radius: .50rem !important;
}

.form-control {
    background-color: #c5c5c5 !important;
    color: #495057 !important;
}

button {
    margin: 0 0.25rem !important;
}

.modal-content {
    background-color: #242424 !important;
}

.modal-header,
.myHeader {
    padding: 0 !important;
    font-variant: all-petite-caps !important;
    font-size: 1.5rem !important;
    font-weight: 900 !important;
    text-align: center;
    margin-top: 0.3rem;
}

.myMember {
    font-size: 1rem;
    font-variant-caps: all-petite-caps;
    border: 0.01rem solid #dcda3547;
    border-radius: 0.75rem;
    padding: 0.1rem 1rem;
    background-color: #26251e91;
    margin: 1rem;
    text-align: center;
    /* display: inline-table; */
}

.myMember button,
.myHeader button {
    float: right;
}

.myMember button {
    padding: 0.01rem 0.5rem;
}

.myMember:hover {
    box-shadow: 0rem 0rem 5rem 0rem #ffa5004d;
}

/* tmp search input style */

.Search {
    /* width: 400px;
    margin: 0 auto; */
    position: relative;
    display: flex;
    height: 2.2rem;
    margin-top: -0.6rem;
}

.SearchSpan {
    width: 15%;
    border: 1px solid #1C76D2;
    background: #1C76D2;
    padding-top: 4px;
    text-align: center;
    color: #fff;
    border-radius: 5px 0 0 5px;
    font-size: 20px;
}

.SearchInput {
    width: 85%;
    border: 3px solid #1C76D2;
    border-left: none;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    outline: none;
}

/* Search results */
.searchResults {
    padding: 0.25rem 0;
    margin: 0.5rem 0;
}

.searchResults div {
    border: 0.01rem solid #a2a1005c;
    border-radius: 0.75rem;
    padding: 0.1rem 1rem;
    margin: 0.1rem 0;
    text-align: center;
}

.searchResults div:hover {
    cursor: pointer;
    background-color: #2b2b2b;
}

.searchResults div svg {
    margin-left: 1rem;
}

/* Selected kids */

.selectedKids {
    padding: 0.25rem 0;
    margin: 0.5rem 0;
    margin-top: -0.60rem;
    margin-bottom: 0.7rem;
}

.selectedKids div {
    border: 0.01rem solid #0059a25c;
    border-radius: 0.75rem;
    padding: 0.1rem 1rem;
    margin: 0.1rem 0;
    text-align: center;
}

.selectedKids div:hover {
    cursor: pointer;
    background-color: #423232;
}

.selectedKids div svg {
    margin-left: 1rem;
}

/* Canvas style */

.App-canvas {
    background-color: rgb(25, 183, 189);
    border: 5px;
    border-color: black;

}

.canvasButton {
    background-color: rgb(34, 20, 95);
    border: 1px solid rgb(124, 110, 185);
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.canvasButton:hover {
    background-color: rgb(104, 80, 212);
}